pyopt
workingsession.vim
traces/*
traces/tableData2/
traces/tableData2/*
traces/tableData2/*/
traces/tableData2/pngs/*/
traces/tableData2/pngs/*/
!traces/temp/
!traces/temp/*
!traces/temp/*/
!traces/temp/pngs/*
!traces/temp/pngs/*/
!traces/rt-full-table/
!traces/rt-full-table/*
!traces/rt-full-table/*/
!traces/rt-full-table/pngs/*
!traces/rt-full-table/pngs/*/
!traces/temp-complement2/
!traces/temp-complement2/*
!traces/temp-complement2/*/
!traces/temp-complement2/pngs/*
!traces/temp-complement2/pngs/*/
pfe-writtenreport/*
!pfe-writtenreport/*.tex
!pfe-writtenreport/*.bib
!pfe-writtenreport/*.pdf
!pfe-writtenreport/img/
!pfe-writtenreport/img/*
!pfe-writtenreport/img/*/
*.swo
*.swp
*~

