pyopt
workingsession.vim
traces/*
traces/tableData2/
traces/tableData2/*
traces/tableData2/*/
traces/tableData2/pngs/*/
traces/tableData2/pngs/*/
!traces/temp/
!traces/temp/*
!traces/temp/*/
!traces/temp/pngs/*
!traces/temp/pngs/*/
!traces/rt-tcfix/
!traces/rt-tcfix/*
!traces/rt-tcfix/*/
!traces/rt-tcfix/pngs/*
!traces/rt-tcfix/pngs/*/
!traces/temp-complement2/
!traces/temp-complement2/*
!traces/temp-complement2/*/
!traces/temp-complement2/pngs/*
!traces/temp-complement2/pngs/*/
pfe-writtenreport/*.aux
pfe-writtenreport/*.log
pfe-writtenreport/*.bbl
pfe-writtenreport/*.blg
pfe-writtenreport/*.dvi
pfe-writtenreport/*.toc
pfe-writtenreport/*.gz
*.swo
*.swp
*.o
*~
src/C++/path_planner/ipch
src/C++/path_planner/ipch/
src/C++/path_planner/ipch/*
src/C++/path_planner/ipch/*/
src/simoutput
src/simoutput/
src/simoutput/*
src/simoutput/*/
